{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 300,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSpacing": true,
  "tabWidth": 4,
  "useTabs": true
}
